<table >
  <tr>
    <td   >
      <tr><td>
        コメント
      </td></tr>
      <tr><td>
	  <div id="commentCaption" class="commentCaption">
	  <%= render :partial => 'comment', :collection => @comments %>
	  </div>
    </td>
 </tr>
</table>
